<% content_for :head do %>
  <script src='https://www.google.com/recaptcha/api.js'></script>
<% end %>

<div class="row">

  <div class="col-md-6">
  <% if @message.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@message.errors.count, t('error')) %> <%=t :error_saving %>:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1 class="title"><%=t :contact %></h1>

  <%= form_for @message, url: contact_path do |message_form| %>

    <div class="">
      <div class="field form-group">
        <%= message_form.text_field :name, placeholder: true, class: 'form-control' %>
      </div>
      
      <div class="field form-group">
        <%= message_form.email_field :email, placeholder: true, class: 'form-control' %>
      </div>

      <div class="field form-group">
        <%= message_form.phone_field :phone, placeholder: true, class: 'form-control' %>
      </div>
      
      <div class="field form-group">
        <%= message_form.text_area :content, placeholder: true, class: 'form-control' %>
      </div>
    
      <%= recaptcha_tags class: 'field form-group' %>

      <div class="field form-group">
        <%= message_form.submit t('send'), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
  </div>
  
  <div class="col-md-6" >
    <% if @company.present? %>
      <h2 class="title"><%= @company.name %></h2>
      <div><%= @company.address %></div>
    <% end %>

    <script>
      function initMap() {
        var uluru = '<%= @company.present? ? @company.address : "São Paulo, SP" %>'
        var map = new google.maps.Map(document.getElementById('map'), { zoom: 16 });
        var geocoder = new google.maps.Geocoder;
        geocoder.geocode({'address': uluru}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          } else {
            window.alert('Geocode was not successful for the following reason: ' +
                status);
          }
        });
      }
    </script>
    <div>
      <div id="map" style='width: 100%; height: 300px;'></div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlyvKxnErCee57UucS2NZQLhTmDuuoCN0&callback=initMap"></script>
<% end %>