<%= form_for(realestate) do |f| %>
  <% if realestate.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(realestate.errors.count, t('error')) %> <%=t :error_saving %>:</h2>

      <ul>
      <% realestate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label t('re_type') %>
    <%= f.select :re_type, Realestate.re_type.options %>
  </div>

  <div class="field">
    <%= f.label t('street') %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label t('district') %>
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <%= f.label t('city') %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label t('state') %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label t('category') %>
    <%= f.select :category, Realestate.category.options %>
  </div>

  <div class="field">
    <%= f.label t('price') %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label t('description') %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label t('photo') %>
    <%= f.file_field :img, accept: 'image/*' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
