<%= form_for(realestate) do |f| %>
  <% if realestate.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(realestate.errors.count, t('error')) %> <%=t :error_saving %>:</h2>

      <ul>
      <% realestate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:re_type) %>
    <%= f.select :re_type, Realestate.re_type.options %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:street) %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:district) %>
    <%= f.text_field :district %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:city) %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:state) %>
    <%= f.text_field :state %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:category) %>
    <%= f.select :category, Realestate.category.options %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:price) %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:description) %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:photo) %>
    <%= f.file_field :img, accept: 'image/*' %>
  </div>

  <div class="field">
    <%= f.label Realestate.human_attribute_name(:photo) %>
    <%= file_field_tag "images[]", accept: 'image/*', multiple: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
