<%= form_for(realestate) do |f| %>
  <% if realestate.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(realestate.errors.count, t('error')) %> <%=t :error_saving %>:</h2>

      <ul>
      <% realestate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if @realestate.pictures.present? %>
  <p>
    <%@realestate.pictures.each do |picture|%>
      <div class="pictures">
      <%= f.fields_for :pictures, picture do |image_fields| %>
        <%= image_tag picture.image.url(:thumb) %>
      <% end %>
      <%= link_to destroy_realestate_picture_path(@realestate, picture), method: :delete, data: { confirm: t('confirmation')} do %>
        <i class="fa fa-trash-o"></i>
      <% end %>
      </div>
    <% end %>
  </p>
  <% end -%>

<div class="form">
  <div class="field form-group">
    <%= f.label Realestate.human_attribute_name(:re_type) %>
    <%= f.select :re_type, Realestate.re_type.options, {}, class: 'custom-select form-control' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :street, class: 'form-control', placeholder: Realestate.human_attribute_name(:street) %>
  </div>

  <div class="field form-group">
    <%= f.text_field :district, class: 'form-control', placeholder: Realestate.human_attribute_name(:district) %>
  </div>

  <div class="field form-group row">
    <div class="col-sm-6">
      <%= f.text_field :city, class: 'form-control', placeholder: Realestate.human_attribute_name(:city) %>
    </div>
    <div class="col-sm-6">
      <%= f.text_field :state, class: 'form-control', placeholder: Realestate.human_attribute_name(:state) %>
    </div>
  </div>

  <div class="field form-group">
    <%= f.label Realestate.human_attribute_name(:category) %>
    <%= f.select :category, Realestate.category.options, {}, class: 'custom-select form-control' %>
  </div>

  <div class="field form-group">
    <%= f.text_field :price, class: 'form-control', placeholder: Realestate.human_attribute_name(:price) %>
  </div>

  <div class="field form-group">
    <%= f.text_area :description, class: 'form-control', placeholder: Realestate.human_attribute_name(:description) %>
  </div>

  <div class="field form-group">
    <%= f.label Realestate.human_attribute_name(:photo) %>
    <%= f.file_field :img, accept: 'image/*', class: 'form-control-file' %>
  </div>

  <div class="field form-group">
    <%= f.label Realestate.human_attribute_name(:photo) %>
    <%= file_field_tag "images[]", accept: 'image/*', multiple: true, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
</div>
<% end %>
