<h1 class="title"><%= t('admin_area') %></h1>

<% if user_signed_in? %>
  <%= link_to t('add_realestate'), new_realestate_path, class: "btn btn-primary btn-sm" %>
<% end %>
<% unless @company %>
  <%= link_to t('to_config') + " " + t('company'), new_company_path, class: "btn btn-warning btn-sm" %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th><%= t('id') %></th>
      <th><%= Realestate.human_attribute_name(:cover) %></th>
      <th><%= t('address') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realestates.each do |realestate| %>
      <tr>
        <td><%= realestate.id %></td>
        <td>
	        <%= link_to edit_realestate_path(realestate) do %>
		        <% if realestate.cover.present? %>
		          <%= image_tag realestate.pictures.find(realestate.cover).image.url(:thumb) %>
		        <% elsif realestate.pictures.present? %>
		          <%= image_tag realestate.pictures.first.image.url(:thumb) %>
		        <% else %>
		          <div class="not-found-image"><i class="fa fa-camera fa-2x"></i></div>
		        <% end %>
		      <% end %>
      	</td>
        <td><%= realestate.address %></td>
        <td><%= link_to t('edit'), edit_realestate_path(realestate) %></td>
        <td>
        	<%= link_to realestate, method: :delete, data: { confirm: t('confirmation') } do %>
        		<i class="fa fa-trash-o"></i>
        	<% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @realestates, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>