<h1><%=t :realestates %></h1>

<div class="row">
  <% @realestates.each do |realestate| %>
    <div class="col-md-4">
      <%= link_to realestate do %>
        <%= image_tag realestate.img.url(:medium) %>
      <% end %>
      <div>
        <%= realestate.re_type %> - <%= realestate.category %>
        <br>
        <%= realestate.district %> - <%= realestate.city %>
        <p><%= number_to_currency realestate.price %></p>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to 'New Realestate', new_realestate_path %>
