
<% if @carousel.present? %>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li class="first-slide active" data-target="#myCarousel" data-slide-to="0"></li>
    <li class="second-slide" data-target="#myCarousel" data-slide-to="1"></li>
    <li class="third-slide" data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <% @carousel.each_with_index do |re, index| %>
        <div class="carousel-item <%= index == 0 ? 'active' : ''%>">
        <%= link_to (image_tag re.pictures.first.image.url), re %>
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-left">
              <h1><%= "#{re.district}, #{re.city} - #{re.state}" %></h1>
              <p><%= "#{t(re.re_type, scope: [:enumerize, :realestate, :re_type])} - #{t(re.category, scope: [:enumerize, :realestate, :category] )}" %></p>
            </div>
          </div>
      </div>
    <% end %>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>

<h1 class="title"><%= realestates_title(params) %></h1>

<div class="row">
  <% @realestates.each do |realestate| %>
    <div class="col-md-4">
      <%= link_to realestate do %>
        <% if realestate.cover.present? %>
          <%= image_tag realestate.pictures.find(realestate.cover).image.url(:medium) %>
        <% elsif realestate.pictures.present? %>
          <%= image_tag realestate.pictures.first.image.url(:medium) %>
        <% else %>
          <div class="not-found-image"><i class="fa fa-camera fa-2x"></i></div>
        <% end %>
      <% end %>
      <div>
        <%= t(realestate.re_type, scope: [:enumerize, :realestate, :re_type]) %> - <%=t realestate.category, scope: [:enumerize, :realestate, :category] %>
        <br>
        <%= "#{realestate.district} - #{realestate.city}" %>
        <p><%= number_to_currency realestate.price %></p>
      </div>
    </div>
  <% end %>
</div>

<%= will_paginate @realestates, renderer: 'BootstrapPaginationHelper::LinkRenderer' %>
