<p>
  <%@realestate.pictures.each do |picture|%>
    <%= image_tag picture.image.url(:medium) %>
  <% end %>
</p>

<h3>
  <strong><i class="fa fa-map-marker"></i></strong>
  <%= @realestate.street %>, <%= @realestate.district %>,
  <%= @realestate.city %> - <%= @realestate.state %>
</h3>

<p>
  <strong><%= t('re_type') %>:</strong>
  <%= @realestate.re_type %>
</p>

<p>
  <strong><%= t('category') %>:</strong>
  <%= @realestate.category %>
</p>

<p>
  <strong><%= t('price') %>:</strong>
  <%= number_to_currency @realestate.price %>
</p>

<p>
  <strong><%= t('description') %>:</strong>
  <%= @realestate.description %>
</p>

<p>
  <strong><%= t('added') %>:</strong>
  <%=l @realestate.created_at %>
</p>

<% if user_signed_in? %>
  <%= link_to t('edit'), edit_realestate_path(@realestate) %> | 
  <%= link_to t('remove'), @realestate, method: :delete, data: { confirm: t('confirmation') } %>
<% end %>