<p>
  <%= image_tag @realestate.img %>
</p>

<p>
  <strong><%= t('re_type') %>:</strong>
  <%= @realestate.re_type %>
</p>

<p>
  <strong><%= t('street') %>:</strong>
  <%= @realestate.street %>
</p>

<p>
  <strong><%= t('district') %>:</strong>
  <%= @realestate.district %>
</p>

<p>
  <strong><%= t('city') %>:</strong>
  <%= @realestate.city %>
</p>

<p>
  <strong><%= t('state') %>:</strong>
  <%= @realestate.state %>
</p>

<p>
  <strong><%= t('category') %>:</strong>
  <%= @realestate.category %>
</p>

<p>
  <strong><%= t('price') %>:</strong>
  <%= @realestate.price %>
</p>

<p>
  <strong><%= t('description') %>:</strong>
  <%= @realestate.description %>
</p>

<%= link_to t('Edit'), edit_realestate_path(@realestate) %> |
<%= link_to t('Back'), realestates_path %>
