<p>
  <%= image_tag @realestate.img %>
</p>

<p>
  <strong><%= t('re_type') %>:</strong>
  <%= @realestate.re_type %>
</p>

<p>
  <strong><%= t('street') %>:</strong>
  <%= @realestate.street %>
</p>

<p>
  <strong><%= t('district') %>:</strong>
  <%= @realestate.district %>
</p>

<p>
  <strong><%= t('city') %>:</strong>
  <%= @realestate.city %> - <%= @realestate.state %>
</p>

<p>
  <strong><%= t('category') %>:</strong>
  <%= @realestate.category %>
</p>

<p>
  <strong><%= t('price') %>:</strong>
  <%= number_to_currency @realestate.price %>
</p>

<p>
  <strong><%= t('description') %>:</strong>
  <%= @realestate.description %>
</p>

<%= link_to t('edit'), edit_realestate_path(@realestate) %> |
<%= link_to t('back'), realestates_path %>
